* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000;
  background: rgb(241, 237, 237);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding: 50px;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border-radius: 1rem;
  width: 460px;
  height: 491px;
  position: relative;
  padding: 60px;
  gap: 20px;
  box-shadow: 0px 40px 50px -14px rgba(21, 26, 65, 0.55);
}

#bottom {
  background: #ffffff;
  color: rgb(211, 199, 199);
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border-radius: 50%;
  border-width: 0.5px;
  border-style: solid;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-color: rgb(211, 199, 199);
}

.info_1 {
  width: 100%;
  font-weight: 600;
  text-align: justify;
  font-size: 14px;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cards_num {
  display: flex;
  width: 100%;
  gap: 10px;
  font-weight: 600;
}

.card {
  border: 0.5px solid rgb(211, 199, 199);
  border-radius: 5px;
  padding: 10px;
  border-width: 0.5px;
  width: 20%;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  background: inherit;
  cursor: pointer;
  transition: all 0.4 ease-out;
}

.card:hover {
  background: #ff0099;
  box-shadow: 0px 10px 15px 0.3px rgba(21, 26, 65, 0.2);
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.4s ease-in;
  transform: scale(1.05);
}

.info_2 {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
}

.dissatisfied {
  text-align: left;
  margin-right: 70px;
  margin-top: 10px;
}

.satisfied {
  text-align: right;
  margin-left: 70px;
  margin-top: 10px;
}

.agree_terms {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 5px;
}

.agree_input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.linea {
  width: 100%;
  border-bottom: 2px solid rgb(211, 199, 199);
  margin-top: 20px;
}

.btn {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(211, 199, 199);
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
  background: #ffffff;
}

.btn:hover {
  background: #ff0099;
  box-shadow: 0px 10px 15px 0.3px rgba(21, 26, 65, 0.2);
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.4s ease-in;
  transform: scale(1.05);
}
